@font-face {
    font-family: 'Stratum';
    src: url('https://cdn.jsdelivr.net/gh/globoplay-crm/premiere@master/stratum.52ea407b.otf') format('otf'),
    url('https://cdn.jsdelivr.net/gh/globoplay-crm/premiere@master/StratumNo2-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}
